:root {
  background: transparent;
}

html,
body {
  background: transparent;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: transparent;
}

input {
  background: transparent;
  border: none;
  outline: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.app-drag {
  app-region: drag;
}

.app-no-drag {
  app-region: no-drag;
}

.app-no-select {
  user-select: none;
}

.message {
  flex-shrink: 0;
  user-select: text;
}

.message:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message:first-child {
  padding-top: 20px;
}

pre {
  text-wrap: pretty;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset:not(:first-child) {
  margin-top: 20px;
}

textarea.chat-input-busy::placeholder {
  color: #808080 !important;
  opacity: 1;
}

.header-tab-active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  text-shadow: 1px 1px #222;
}
